<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div id="header"></div>
    <div id="menu">
      <ul class="sub_menu_01">
        <li>메뉴1</li>
        <li>
          <ul>
            <li>서브1_1</li>
            <li>서브1_2</li>
            <li>서브1_3</li>
          </ul>
        </li>
      </ul>
      <ul class="sub_menu_02">
        <li>메뉴2</li>
        <li>
          <ul>
            <li>서브2_1</li>
            <li>서브2_2</li>
            <li>서브2_3</li>
          </ul>
        </li>
      </ul>
      <ul class="sub_menu_03">
        <li>메뉴3</li>
        <li>
          <ul>
            <li>서브3_1</li>
            <li>서브3_2</li>
            <li>서브3_3</li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="content">
      <aside></aside>
      <main></main>
    </div>
    <div id="footer"></div>
  </body>
</html>
