<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>layout(table)</title>
    <style>
      table {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <table border="0" width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" style="background-color: gray"><h2>Header</h2></td>
      </tr>
      <tr>
        <td colspan="2">
          <table border="0" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td width="30%" height="300" style="background-color: #333333"><h2>Nav</h2></td>
              <td style="background-color: yellow"><p>Main</p></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="background-color: gray"><h2>Footer</h2></td>
      </tr>
    </table>
  </body>
</html>
