.content-box {
  width: 80%;
  height: inherit;
  background-color: #ff000040;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.logo_img {
  width: 80px;
  height: 80px;
  display: block;
}

a {
  text-decoration: none;
  color: #000000;
}

/*---------------------------------------*/

#header {
  height: 100px;
  background-color: aqua;
}

#header > .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px 20px 0px 0px;
}

#main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-menu > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  --background-color: gray;
}

#main-menu > nav > ul li {
  margin: 0px 20px;
}

#search-form {
  text-align: center;
  line-height: inherit;
  padding: 0px 20px;
  --background-color: cadetblue;
}

#member-menu {
  height: inherit;
  --padding: 0px 0px;
  --background-color: blue;
}

#member-menu > nav:nth-child(1) > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  --background-color: gray;
}

#member-menu > nav:nth-child(1) > ul li {
  margin: 0px 15px;
}

#member-menu > nav:nth-child(2) > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  --background-color: aquamarine;
}

#member-menu > nav:nth-child(2) > ul li {
  margin: 0px 15px;
}

#body {
  height: 700px;
  background-color: aquamarine;
}

#body > .content-box {
  display: flex;
}

#aside {
  width: 20%;
  height: inherit;
  background-color: blanchedalmond;
}

#body_nav {
  width: 70%;
  margin: auto;
  --background-color: gray;
}

#body_nav h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0px 10px 0px;
}

#body_nav > nav > ul li {
  margin: 0px 20px;
}

#main {
  width: 80%;
  height: inherit;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  height: 40%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#footer {
  height: 100px;
  background-color: bisque;
  margin: auto;
  line-height: inherit;
}

#footer > .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  --background-color: blueviolet;
}

#footer_logo {
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0px 20px 0px 0px;
  float: left;
}

#owner_info > dl {
  display: flex;
}

#owner_info > dl > dt {
  display: flex;
  padding: 0px 20px 0px 0px;
}

#owner_info > dl > dd {
  display: flex;
  padding: 0px 50px 0px 0px;
}

#copyright_info {
  margin: 5px 0px 0px 0px;
}
